<html>
<div>
	채팅 참가자
</div>
<div>
	<% for(member of roomInfo.member){ %>
		<span>
			<%= member.username %> /
		</span>
		<% } %>
</div>
<div id="chat-screen">
	<% for(chat of chatlogs){ %>
		<% if(chat.user.username == user.username){ %>
			<div style="text-align: right; background-color:whitesmoke; padding:12px;"><%= chat.user.username %> : <%= chat.message %><div><%= chat.date %></div></div>
		<% }else{ %>
			<div style="text-align: left; padding:12px;"><%= chat.user.username %> : <%= chat.message %><div><%= chat.date %></div></div>
		<% } %>
	<% } %>
</div>
<form class="chat-form" onsubmit="sendMessage(event, this)">
	<input type="text" name="message" id="message" oninput="handleOninput()">
	<button type="button" onclick="sendMessage(event, this.form)" id="sendBtn" disabled>전송</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.5/client-dist/socket.io.min.js"></script>
<script>
	const socket = io();
	socket.emit('ask-join', '<%= roomInfo._id %>')

	const handleOninput = () => {
		if ($('#message').val() != '') {
			$('#sendBtn').removeAttr('disabled')
		} else {
			$('#sendBtn').attr('disabled', 'disabled')
		}
	}

	const sendMessage = (e, f) => {
		e.preventDefault()
		let data = {
			message: f.message.value.replace(/&/g, "&amp;")
				.replace(/</g, "&lt;")
				.replace(/>/g, "&gt;")
				.replace(/"/g, "&quot;"),
			roomId: '<%= roomInfo._id %>',
			date : new Date().toLocaleString()
		}

		if (data.message == '') return
		socket.emit('message-send', data)
		$('#message').val('')
		$('#sendBtn').attr('disabled', 'disabled')
	}

	socket.on('message-broadcast', (data) => {
		if (data.user.username == '<%= user.username %>') {
			$('#chat-screen').append(`<div style="text-align:right; background-color:whitesmoke; padding:12px;">${data.user.username} : ${data.message}<div>${data.date}</div></div>`)
		} else {
			$('#chat-screen').append(`<div style="padding:12px;">${data.user.username} : ${data.message}<div>${data.date}</div></div>`)
		}
	})
</script>

</html>