<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Member</title>
        <link rel="stylesheet" href="/nav.css" />
        <link rel="stylesheet" href="/member.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <%- include ('nav.ejs') %>
        <section class="content" id="content">
            <h2>Member</h2>
            <label for="team">Team : </label>
            <select name="team" id="team" onchange="teamSelect(this.value)">
                <option value="">default</option>
                <option value="engineering">engineering</option>
                <option value="marketing">marketing</option>
                <option value="sales">sales</option>
            </select>
            <button type="button" onclick="location.href='/member/add'" class="addBtn">
                멤버 추가
            </button>
            <div id="table-wrapper">
                <table id="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Position</th>
                        <th>삭제/수정</th>
                    </tr>
                    <% for(let i of data){ %>
                    <tr>
                        <td><%= i.id %></td>
                        <td><a href="/member/<%= i.id %>/view"><%= i.name %></a></td>
                        <td><%= i.team %></td>
                        <td><%= i.position %></td>
                        <td class="btns">
                            <input type="button" value="삭제" onclick="del('<%= i.id %>')">
                            <input type="button" value="수정" onclick="modify('<%= i.id %>')">
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </section>
        <script>
            let url = new URL(window.location.href);
            let param = url.searchParams;
            let teamValue = param.get("team");

            $("#team").val(teamValue).prop("selected", true);

            function del(id) {
                if (!confirm("정말 삭제하시겠습니까?")) return;

                fetch('/member/'+id, {method : 'DELETE'})
                .then(()=>{
                    $('#table-wrapper').load(location.href+' #table-wrapper');
                })
            }

            function modify(id){
                location.href="/member/"+id+"/update";
            }

            function teamSelect(value) {
                location.href = "/member?team=" + value;
            }

            function formatDate(dateString) {
                var date = new Date(dateString);

                var year = date.getFullYear();
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var day = ("0" + date.getDate()).slice(-2); 
                
                var formattedDate = year + "-" + month + "-" + day;
                return formattedDate;
            }
        </script>
    </body>
</html>
