<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update</title>
        <link rel="stylesheet" href="../../nav.css" />
        <link rel="stylesheet" href="../../member-add.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <%- include ('nav.ejs') %>
        <section class="content">
            <h2>UPDATE</h2>
            <form action="/member/<%= data.id %>?_method=PUT" method="post">
                <input type="hidden" name="id" value="<%= data.id %>" />
                <input type="hidden" name="_method" value="PUT"/>
                <div>
                    <label for="">name :</label>
                    <input type="text" name="name" value="<%= data.name %>" />
                </div>
                <div>
                    <label for="">team :</label>
                    <select name="team" id="team">
                        <option value="">default</option>
                        <option value="engineering">engineering</option>
                        <option value="marketing">marketing</option>
                        <option value="sales">sales</option>
                    </select>
                </div>
                <div>
                    <label for="">position :</label>
                    <input
                        type="text"
                        name="position"
                        value="<%= data.position %>"
                    />
                </div>
                <div>
                    <label for="">email :</label>
                    <input
                        type="text"
                        name="emailAddress"
                        value="<%= data.emailAddress %>"
                    />
                </div>
                <div>
                    <label for="">phone :</label>
                    <input
                        type="text"
                        name="phoneNumber"
                        value="<%= data.phoneNumber %>"
                    />
                </div>
                <div>
                    <label for="">AdmissionDate :</label>
                    <input type="date" name="admissionDate" id="admissionDate">
                </div>
                <div>
                    <label for="">Birthday :</label>
                    <input type="date" name="birthday" id="birthday" />
                </div>
                <input type="submit" value="UPDATE" class="btn" />
            </form>
        </section>
        <script>
            let team = "<%= data.team %>";
            $("#team").val(team).prop("selected", true);

            function formatDate(dateString) {
                var date = new Date(dateString);

                var year = date.getFullYear();
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var day = ("0" + date.getDate()).slice(-2); 
                
                var formattedDate = year + "-" + month + "-" + day;
                return formattedDate;
            }

            $("#admissionDate").val(formatDate("<%= data.admissionDate %>"));
            $("#birthday").val(formatDate("<%= data.birthday %>"));
        </script>
    </body>
</html>
